{% extends 'base.html' %}

{% block content %}
    <h1>이번주 당첨 번호</h1>
    <p>{{lotto_number}}</p>
    {% for num in lotto_number %}
        <div class="border rounded-circle d-inline-block bg-danger" style="width:25px">{{num}}</div>

    {% endfor %}

    <h1>추천 번호</h1>

    {% for num in pick_num %}
        <div class="border rounded-circle d-inline-block bg-success" style="width:25px">{{num}}</div>
    {% endfor %}


    {% if num > 1 %}
        <p>{{num}}개 일치. 당첨!</p>
    {% else %}
        <p>0개 일치. 꽝</p>
    {% endif %}

{% endblock %}